# gitignore
.env.php
*.env.php
*.csv
*cookie*.txt
.idea
vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/mysqldata
/redisdata
_deploy/
*.webp
*.WEBP
*.key
*.txt
*.zip
*.rar
*.tar
*.xlsx
*.xls
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
