@import "fonts";
@import "range";

$button-border: rgba(0,0,0,0);
$button-active: #c1c1c1;
$button-active-border: #1c1c1c;
$button-hover: #9e9e9e;
$checkbox-active: #63666a;

body{
    font-family: "Roboto_R", serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Roboto_B', serif;
    color: #222;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

header{
    padding-top: 30px;
    h1{
        margin-bottom: 40px;
    }
}

.nav{
    .nav-link{
        color: #000;
        border: 2px solid $button-border;
        font-size: 1.5rem;
        font-family: "Roboto_B", serif;
        &.active{
            color: #000;
            background-color: $button-active;
            border-color: $button-active-border;
            &:hover{
                background-color: $button-hover;
            }
        }
    }
}

.tab-content{
    margin-top: 15px;
}

.desc{
    margin-top: 30px;
}

.location-generator{
    margin-bottom: 5vh;
}

.assets__list{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    .asset{
        margin-right: 3px;
        margin-bottom: 3px;
    }
}

.sample-map{
    margin-top: 30px;
    h4{
        margin-bottom: 0;
    }
    .wrap-image-map{
        margin-top: 12px;
        max-width: 300px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.assets__example-map{
    .wrap-image-map img{
        max-width: 100%;
    }
}

.algorithms{
    margin-top: 50px;
}

.algorithms__tabs{
    margin-top: 20px;
}

.map-size{
    margin-top: 50px;
    .form-control{
        min-width: 40px;
        border: 0.2rem solid $button-active-border;
        border-radius: 0.5rem;
        background-color: $button-active;
        text-align: center;
        font-family: "Roboto_B", serif;
        font-size: 2rem;
        color: #000;
        &:focus{
            box-shadow: 0 0 0 0.2rem rgb(18 18 18 / 25%);
        }
    }
}

.map-size__title{
    font-size: 1.5rem;
    font-family: "Roboto_B", serif;
    line-height: 3rem;
}

.range{
    margin-top: 28px;
}

.map-split-option {
    margin-top: 30px;
    .custom-control {
        &.custom-switch {
            padding-left: 4rem;
            .custom-control-label {
                height: 2.5rem;
                line-height: 2.5rem;
                &::before {
                    top: 0.3125rem;
                    left: -4rem;
                    width: 3.5rem;
                    height: 2rem;
                    border-radius: 1rem;
                    border: 2px solid $button-active-border;
                    background: #c1c1c1;
                }
                &::after {
                    top: calc(0.5rem + 2px);
                    left: calc(-4rem + 6px);
                    width: calc(1.6rem - 4px);
                    height: calc(1.6rem - 4px);
                    border-radius: 50%;
                    background-size: 50% 50%;
                    background-color: #fff;
                }
            }

            .custom-control-input:checked ~ .custom-control-label::after {
                background-color: #fff;
                transform: translateX(1.4rem);
            }

            .custom-control-input:checked ~ .custom-control-label::before {
                background-color: $checkbox-active;
            }

            .custom-control-input:focus ~ .custom-control-label::before {
                box-shadow: 0 0 0 0.2rem rgb(18 18 18 / 25%);
            }
        }
    }
}

.generate-button.btn-secondary{
    padding: 0.5rem 2rem;
    font-family: "Roboto_B", serif;
    font-size: 2.5rem;
    color: #000;
    border: 2px solid $button-active-border;
    background: $button-active;
    &.disabled, &:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active{
        color: #000;
        border: 2px solid $button-active-border;
        background: $button-hover;
    }
}

.map-view{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 5vh;
    max-width: 100%;
    img{
        max-width: 100%;
    }
}

.map-view__title{
    text-align: center;
}

.one-file-map{
    display: flex;
    justify-content: center;
}

.map-view__tiles{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .tiles__row{
        display: flex;
        justify-content: center;
        .tile{
            flex-shrink: 1;
            margin-right: 3px;
            margin-bottom: 3px;
            img{
                max-width: 100%;
            }
        }
    }
}

footer{
    padding: 5vh 0;
}

.social-links{
    font-size: 3rem;
    text-align: center;
}

.link{
    color: $button-active;
    &:hover{
        color: $button-hover;
    }
}



//
//
//
// Media breakpoints
//
//
//

@media only screen and (max-width: 576px) {
    .map-size{
        margin-top: 30px;
    }

    .map-size__title{
        margin-bottom: 0;
        display: block;
        text-align: center;
    }

    .range{
        margin: 11px 0;
    }

    .map-view__tiles{
        .tiles__row{
            .tile{
                margin-right: 1px;
                margin-bottom: 1px;
            }
        }
    }
}
